# This variable determines the namespaces which will be logged
# in future versions this will be renamed. Multiple namespaces are delimited by ;
# example: "app:*;db:*"
# various namespaces can be found in each file, in future I will compile a list.
debug="app:*"

# This currently is the password for the mail server and will be renamed in future versions
app_password = "test"